GUARD_BUILTIN_LABEL=""
GUARD_BUILTIN_BASE_URL=""
GUARD_BUILTIN_MODEL=""
GUARD_BUILTIN_PROTOCOL="chat_completions"
GUARD_BUILTIN_MAX_TOKENS="4096"
GUARD_BUILTIN_API_KEY=""
GUARD_BATCH_SLOTS="16"
GUARD_BATCH_WAIT_MS="1"
GUARD_MAX_CONVERSATION_TOKENS="49152"
GUARD_ALLOW_CUSTOM_MODEL="0"
GUARD_MODEL_DIR="./models/HS-Guard-v10"
GUARD_HOST="127.0.0.1"
GUARD_PORT="8080"
